 <section class="catalog-filter">
        <div class="filter-container">
          <input type="text" id="searchInput" placeholder="Search..." />

          <select id="yearFilter">
            <option value="">Year</option>
            <option value="2025">2025</option>
            <option value="2024">2024</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
          </select>

          <button id="searchBtn">🔍</button>
        </div>
      </section>

      <section id="movieResults" class="movie-grid">
        <!-- JS ile posterler burada gösterilecek -->
      </section>

      <script src="./src/js/catalog-list.js"></script>