<footer class="footer">
  <p>
    © 2025 | All Rights Reserved | Developed with
    <span class="heart">
      <img src="./img/heart.svg" alt="heart" />
    </span>
    by
    <a class="goit-link" href="#" data-modal-open="footer">GoIT Students</a>
  </p>

  <!-- Modal -->
  <div class="footerModal is-hidden" data-modal="footer">
    <div class="modal-content">
      <span class="close-modal" data-modal-close="footer">&times;</span>
      <h2>GoIT Students</h2>
      <div class="modal-body">
        <p>"This project was developed by GoIT students"</p>

        <div class="teamcard" id="cardTeam">
          <div class="card">
            <img src="https://media.licdn.com/dms/image/v2/D4D03AQFaWpVVr7cMlw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1669837066695?e=1755734400&v=beta&t=SjUpEuO5N-y7notMtSFz0YxtsGhP1kYsI1mJtjmIXNA" alt="Team Member">
            <div class="card-info">
              <h4>Deniz Can Özder</h4>
              <p>Team Lead</p>
              <div class="social-links">
                <a href="https://github.com/DenizzOzder" target="_blank" rel="noopener noreferrer">
                  <i class="github-icon"></i>
                </a>
                <a href="https://www.linkedin.com/in/denizozder1/" target="_blank" rel="noopener noreferrer">
                  <i class="linkedin-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://ca.slack-edge.com/T07RKLGDFGE-U082B9Y9FSN-6ba6b4ab5dcf-512" alt="Team Member">
            <div class="card-info">
              <h4>Bilal Fırtına</h4>
              <p>Scrum Master</p>
              <div class="social-links">
                <a href="https://github.com/BilalFirtina" target="_blank" rel="noopener noreferrer">
                  <i class="github-icon"></i>
                </a>
                <a href="https://www.linkedin.com/in/bilal-firtina/" target="_blank" rel="noopener noreferrer">
                  <i class="linkedin-icon"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="team-cards">
          <div class="card">
            <img src="https://ca.slack-edge.com/T07RKLGDFGE-U082BPQJL6N-8a0452568610-512" alt="Team Member">
            <div class="card-info">
              <h4>Ahmet Canbaz</h4>
              <p>Developer</p>
              <div class="social-links">
                <a href="https://github.com/canbazahmet" target="_blank" rel="noopener noreferrer">
                  <i class="github-icon"></i>
                </a>
                <a href="https://www.linkedin.com/in/ahmet-canbaz/" target="_blank" rel="noopener noreferrer">
                  <i class="linkedin-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://ca.slack-edge.com/T07RKLGDFGE-U07U0PKSUCV-8a687e2296e1-512" alt="Team Member">
            <div class="card-info">
              <h4>Arda Tınmaz</h4>
              <p>Developer</p>
              <div class="social-links">
                <a href="https://github.com/ArdaTinmaz" target="_blank" rel="noopener noreferrer">
                  <i class="github-icon"></i>
                </a>
                <a href="https://www.linkedin.com/in/ardatinmaz/" target="_blank" rel="noopener noreferrer">
                  <i class="linkedin-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://ca.slack-edge.com/T07RKLGDFGE-U07SD6RTVNG-b19bdbc1c791-512" alt="Team Member">
            <div class="card-info">
              <h4>Ayşegül Arslan</h4>
              <p>Developer</p>
              <div class="social-links">
                <a href="https://github.com/aysegularslan1" target="_blank" rel="noopener noreferrer">
                  <i class="github-icon"></i>
                </a>
                <a href="https://www.linkedin.com/in/ayşegül-arslan-19a135279/" target="_blank" rel="noopener noreferrer">
                  <i class="linkedin-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://media.licdn.com/dms/image/v2/D4D03AQEW_7Lg9dOmfg/profile-displayphoto-shrink_200_200/B4DZdMC_bvHMAY-/0/1749327542487?e=1755734400&v=beta&t=gk6DLlqc2RW6gYd40KwBkAre6xpbLFYJ8zfGRVBvKmY" alt="Team Member">
            <div class="card-info">
              <h4>Caner Kesici</h4>
              <p>Developer</p>
              <div class="social-links">
                <a href="https://github.com/Canerksc" target="_blank" rel="noopener noreferrer">
                  <i class="github-icon"></i>
                </a>
                <a href="https://www.linkedin.com/in/caner-kesici/" target="_blank" rel="noopener noreferrer">
                  <i class="linkedin-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://ca.slack-edge.com/T07RKLGDFGE-U08GYUK7Q9G-ec6707bfb87b-512" alt="Team Member">
            <div class="card-info">
              <h4>Derya Almaz</h4>
              <p>Developer</p>
              <div class="social-links">
                <a href="https://github.com/deryalmaz" target="_blank" rel="noopener noreferrer">
                  <i class="github-icon"></i>
                </a>
                <a href="https://www.linkedin.com/in/deryaalmaz/" target="_blank" rel="noopener noreferrer">
                  <i class="linkedin-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://ca.slack-edge.com/T07RKLGDFGE-U080PJNL9F0-58d2925af186-512" alt="Team Member">
            <div class="card-info">
              <h4>Ebu Demirkazık</h4>
              <p>Developer</p>
              <div class="social-links">
                <a href="https://github.com/ebudemirkazik" target="_blank" rel="noopener noreferrer">
                  <i class="github-icon"></i>
                </a>
                <a href="https://www.linkedin.com/in/ebudemirkazik/" target="_blank" rel="noopener noreferrer">
                  <i class="linkedin-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://ca.slack-edge.com/T07RKLGDFGE-U08461FKWKF-8d1f9060e06b-512" alt="Team Member">
            <div class="card-info">
              <h4>Mesut Güzel</h4>
              <p>Developer</p>
              <div class="social-links">
                <a href="https://github.com/MesutGzl" target="_blank" rel="noopener noreferrer">
                  <i class="github-icon"></i>
                </a>
                <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
                  <i class="linkedin-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://ca.slack-edge.com/T07RKLGDFGE-U07USDAU1J4-cbbc892514dd-512" alt="Team Member">
            <div class="card-info">
              <h4>Rabia Altınok</h4>
              <p>Developer</p>
              <div class="social-links">
                <a href="https://github.com/rabiaaltnk" target="_blank" rel="noopener noreferrer">
                  <i class="github-icon"></i>
                </a>
                <a href="https://www.linkedin.com/in/rabia-altınok-853838255/" target="_blank" rel="noopener noreferrer">
                  <i class="linkedin-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://ca.slack-edge.com/T07RKLGDFGE-U07USDARB3J-958c15f84992-512" alt="Team Member">
            <div class="card-info">
              <h4>Yusuf Şengöz</h4>
              <p>Developer</p>
              <div class="social-links">
                <a href="https://github.com/zekirovskii" target="_blank" rel="noopener noreferrer">
                  <i class="github-icon"></i>
                </a>
                <a href="https://www.linkedin.com/in/yusuf-şengöz-a7213525b/" target="_blank" rel="noopener noreferrer">
                  <i class="linkedin-icon"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>