<header class="header">
  <div class="logo">
    <img src="./img/_2.svg" alt="Cinemania Logo" />
    <span><a href="../index.html">Cinemania</a></span>
  </div>
  <nav>
    <a href="../index.html">HOME</a>
    <a href="../catalog.html">CATALOG</a>
    <a href="../library.html">MY LIBRARY</a>
  </nav>
  <div class="theme-toggle" id="theme-toggle">
    <img src="./img/moon.svg" class="icon moon" alt="Moon Icon">
    <img src="./img/sun.svg" class="icon sun" alt="Sun Icon">
    <div class="toggle-thumb"></div>
  </div>
</header>
