<section class="home-hero">
  <div class="home-hero-overlay">
    <h1>Let’s Make Your<br />Own Cinema</h1>
    <p>
      Is a guide to creating a personalized movie theater experience.<br />
      You’ll need a projector, screen, and speakers. Decorate your space,<br />
      choose your films, and stock up on snacks for the full experience.
    </p>
    <button class="cta-button"><a href="./catalog.html">Get Started</a></button>
  </div>
</section>

<section class="weekly-trends">
  <div class="weekly-trends__container">
    <div class="weekly-trends__header">
      <h2 class="weekly-trends__title">Weekly Trends</h2>
      <a href="./catalog.html" class="weekly-trends__link">See all</a>
    </div>

    <ul
      class="weekly-trends__list"
      id="weekly-trends-list"
      data-modal-open
    ></ul>
  </div>
</section>
