  <div class="genre-container">
    <select class="genre-list" id="genre-filter">
    <option class="genre-list-item" value="Genre">Genre</option>
    <option class="genre-list-item" value="Romance">Romance</option>
    <option class="genre-list-item" value="Detective">Detective</option>
    <option class="genre-list-item" value="Thriller">Thriller</option>
    <option class="genre-list-item" value="Action">Action</option>
    <option class="genre-list-item" value="Documentary">Documentary</option>
    <option class="genre-list-item" value="Horror">Horror</option>
  </select>
  </div>