:root {
  --bg-color: #000;
  --text-color: #fff;
  --font-family: 'Roboto', sans-serif;
  --white: #FFFFFF;
  --background: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

body.light-theme {
  --bg-color: #fff;
  --text-color: #000;
}

header {
  width: 1280px;
  height: 60px;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 48px;
  height: 48px;
  padding-left: 32px;
}

.logo span a{
  font-size: 24px;
  font-weight: normal;
  color: var(--text-color);
  text-decoration: none;
}

nav {
  display: flex;
  gap: 40px;
  font-size: 16px;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #F87719;
}

.theme-toggle {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background: linear-gradient(to right, #F87719, #FFCA0F);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  cursor: pointer;
  overflow: hidden;
  margin-right: 32px;
}

.icon {
  width: 18px;
  height: 18px;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.sun {
  opacity: 0;
}

.moon {
  opacity: 1;
}

body.light-theme .sun {
  opacity: 1;
}

body.light-theme .moon {
  opacity: 0;
}

.toggle-thumb {
  position: absolute;
  top: 4px;
  left: 50px;
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: 3;
}

body.light-theme .toggle-thumb {
  left: 4px;
}